<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>de.weisshuhn.${PRODUCT_NAME:identifier}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>iredmine</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>ZF5E7523C5.de.weisshuhn.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.4</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>DemoURLs</key>
	<array>
		<string>http://demo.redmine.org/</string>
		<string>http://www.redmine.org/</string>
	</array>
	<key>RevisionCellTypes</key>
	<array>
		<string>revision</string>
	</array>
	<key>ErrorCellTypes</key>
	<array>
		<string>error</string>
		<string>bug</string>
		<string>defect</string>
		<string>incident</string>
		<string>fehler</string>
		<string>defekt</string>
		<string>störfall</string>
		<string>brisés</string>
		<string>erreur</string>
	</array>
	<key>FeatureCellTypes</key>
	<array>
		<string>feature</string>
		<string>patch</string>
		<string>funktion</string>
		<string>fonction</string>
	</array>
</dict>
</plist>
